p {
    line-height: 1.5em;
}
input[type=text] {
    width: 2em;
    padding: 2px 3px;
    border: 1px solid #999;
    text-align: right;
}
.result {
    border: 2px dashed #ccc;
    padding: 5px 10px;
    margin: 10px 0;
}
.test {
  float: left;
  width: 180px;
}
#b_section {
  margin-left: 20px;
}
#result.xhractive {
    border-color: red;
}
#decision {
  clear: both;
  padding-top: 10px;
}
body {
    font-family: Helvetica;
}

.spinner {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(/files/img/spinner.gif) no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}
