{% extends "base.html" %}

{% block title %}Perceiving Ajax Performance - Spinner Survey{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="/files/css/spinner.css">{% endblock %}
    
{% block head %}
{% endblock %}

{% block body %} 
<h1>Spinner Survey</h1>
<p>
  <a href="{% url spinner_start %}">Take the survey</a> |
  <a href="{% url spinner_data %}">Download raw data</a> |
  <a href="/files/download/PerceivingAjaxPerformance.pdf">Slides</a>
</p>
<p>
Check how delaying spinner affects duration of the Ajax request.<br/>
In the test user is perceiving two actions starting after a click. Both of 
them have the same duration (0.2s, 0.4s, 0.6s, 1.0s or 1.5s). Spinner is 
delayed by a random time chosen from the set of (0.2s, 0.4s, 0.6s) and is seen 
only if delay is shorter than the action duration.<br/>
User has to choose which action performed faster and if any action felt
unresponsive. The fact that the actions took the same time is unknown to the 
user.
</p>

{% endblock %}
